* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background: white;
    color: hsl(200, 100%, 90%);
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  /*                   Navigation Bar                    */
  .navMain {
    display: flex;
    width: 100%;
    height: 4.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    z-index: 100;
    
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1100px;
    height: 4.5rem;
    margin: 0;
    padding: 0;
    padding-right: 25px;
  }

  .left {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: auto;
    height: 60px;
    left: 0;
  }

  .right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: auto;
    height: 4.5rem;
  }
  /*                   Navigation Bar                    */

  /*                        Button                       */
  .button {
    display: flex;
    width: auto;
    height: 45px;
    background-color: transparent;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 0.3s ease;
  }

  .buttonText {
    padding: 0;
    margin: 0;
    size: 20px;
    transition: all 0.3s ease;
    font-weight: 500;
  }

  .button:hover{
    color: black;
    border-bottom: 5px solid red;
    border-top: 5px solid transparent;
  }
  
  /*                        Button                       */

  /* NOT FUNCTIONAL COMPONENT*/
  .logo {
    background-color: red;
    width: 4.5rem;
    height: 4.5rem;
  }

  /*                        Rewards                       */
  .rewardMain {
    display: flex;
    height: 4.5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2), -2px 0 10px rgba(0, 0, 0, 0.2); /* Shadows on right and left */
    padding-left: 25px;
    padding-right: 25px;
  }
  /*                        Rewards                       */


  /*                        StickyH                       */
  .sticky {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 4.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
  }

  .stickyText {
    color: black;
    font-weight: lighter;
  }

  .stickyContent{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 1100px;
    height: 4rem;
    margin: 0;
    padding: 0;
    padding-right: 25px;

  }

  /*                        StickyH                       */

  /*                          Tab                         */

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid red;
    border-radius: 6px;
    width: 8rem;
    height: 2rem;
    margin-left: 20px;
    padding: 0.2rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow around the entire div */
  }

  .tab:hover{
    background-color: #F0F0F0;
    cursor: pointer;
  }

  .tabText {
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1;
    max-width: 100%;
    max-height: 100%;
    color: black;
  }

  /*                            Board                     */
  .board{
    display: flex;
    width: 100%;
    height: 26.5rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 2px;
    box-shadow: 0px -10px 2px rgba(0, 0, 0, 0.2);
    padding: 0 3rem 0 3rem;
  }

  .boardContent{
    width: 69rem;
    height: 22.5rem;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
  }

  /*                          StartHere                      */
  .startHere {
    display: flex;
    width: 100%;
    height: 7rem;
    padding: 3rem;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .startHereContent{
    display: flex;
    width: 69rem;
    height: 5rem;
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  .startHereContent:hover{
    cursor: pointer;
  }

  .startHereLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.25rem;
    height: 100%;
    background-color: white;
    border-right: 1px solid lightgray;
  }

  .startText {
    font-size: 2.5rem;
    font-weight: 1000;
    color: black;
    right: 0;
  }

  .startHereRight{
    display: flex;
    width: 51.75rem;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    gap: 8rem;

  }

  .startSecondText{
    font-size: 1.2rem;
    color: black;
  }

  .findDeals{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    border-radius: 5px;
    height: 2.5rem;
    width: 15rem;
    
  }

  .findDealsText{
    font-size: 1rem;
    font-weight: 700;
  }

  /*                              Featured Main                              */

  .featuredMain {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    overflow: hidden;
    
  }

  .featuredHeader {
    display: flex;
    
    width: 69rem;
    height: auto;
    background-color: white;
    padding-top: 1rem;
  }

  .fhText{
    color: black;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: 10000;
    padding-left: 0.1rem;
  }

  .featuredContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.9rem;
    width: 69rem;
    background-color: white;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid red;
  }
